{{ define "main" }}

  {{ "<!-- topics -->" | safeHTML }}
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h2 class="section-title">{{ i18n "topics_title" | safeHTML }}</h2>
        </div>
        {{ "<!-- topic-item -->" | safeHTML }}
        {{ range (where .Site.Pages "Type" "docs") }}
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="{{ .Permalink }}" class="px-4 py-5 bg-white shadow text-center d-block match-height">
            <i class="{{ .Params.Icon }} icon text-primary d-block mb-4"></i>
            <h3 class="mb-3 mt-0">{{ .Title }}</h3>
            <p class="mb-0">{{ .Params.Description }}</p>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ "<!-- /topics -->" | safeHTML }}

  {{ if .Site.Params.cta.enable }}
  {{ with .Site.Params.cta }}

  {{ "<!-- contact -->" | safeHTML }}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title text-primary">{{ .Title }}</h2>
          {{ .Content }}
          <form
          action="https://formspree.io/xzbjpzbe"
          method="POST">
            <textarea name="message" class="form-control mb-4 shadow rounded-0"></textarea>

          <!-- your other form fields go here -->
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /contact -->" | safeHTML }}


  <!--<iframe width="100%" height="650" src="https://my.visme.co/view/x4j8vwvy-net-neutrality-2&amp;font=Default&amp;lang=en&amp;initial_zoom=2&amp;height=650" 0="webkitallowfullscreen" 1="mozallowfullscreen" 2="allowfullscreen" frameborder="0" scrolling="yes" class="iframe-class"></iframe>

  -->

  <iframe src="https://answergarden.ch/embed/1206914" width="640px" height="400px" style="border: none;" scrolling="no" frameborder="0" title="AnswerGarden" allowTransparency="true"><p><a href="https://answergarden.ch/1206914">Go to AnswerGarden</a></p></iframe>

  
  {{ end }}
  {{ end }}

{{ end }}