{{ define "main" }}

{{ "<!-- contact -->" | safeHTML }}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title text-primary">{{ .Title }}</h2>
          {{ .Content }}
          <form
          action="https://formspree.io/xzbjpzbe"
          method="POST">
            <textarea name="Has Net Neutrality effected you in any way?" class="form-control mb-4 shadow rounded-0"></textarea>

            <p>Do you care about Net Neutrality</p>
            <input type="radio" id="yes" name="yes" value="Yes">
            <label for="male">Yes</label><br>
            <input type="radio" id="no" name="no" value="No">
            <label for="male">No</label><br>

            <p>Do you Think Net Neutrality needs better awareness?</p>
            <input type="radio" id="yes" name="yes" value="Yes">
            <label for="male">Yes</label><br>
            <input type="radio" id="no" name="no" value="No">
            <label for="male">No</label><br>
            
          <!-- your other form fields go here -->
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /contact -->" | safeHTML }}

{{ end }}